<h1 style="margin-left: 200px; margin-right: 200px; color: black;">ColtBlog</h1>

<div style="border-bottom: 1px solid #000"></div>

<div style="margin-left: 200px; margin-right: 200px;">

<%-partial('partials/recent-posts')%>

</div>

<div style="border-top: 1px solid #000; padding-bottom: 20px; display: block"></div>

<div id="paginator">
  <%-paginator()%>
</div>
