body
  height: 100%
  background-color: #fff
  font-display: swap // @stylint ignore
  font-weight: 200
  font-size: 20px
  line-height: 30px


  a
    color: #0000CD
    text-decoration: none

  

    &:hover
      color: #1E90FF
      //background-image: linear-gradient(transparent, transparent 4px, $color-link 4px, $color-link)

h1 
  color: #121314
h1:hover 
  color: black

// h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
//     background: none
//     color: red
//     //text-decoration: none

//   h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
//     underline(6px, $color-link)

//   h6
//     a
//       background: none
//       color: inherit
//       text-decoration: none

//   h6
//     a:hover
//       underline(6px, $color-link)

//   code
//     hyphens(manual)

.footer {
	position: absolute;
	bottom: 20px;
  width: 99%; /*宽度是必要，如果没有宽度就无法撑出div*/
}

.footer1 {
	position: absolute;
	bottom: 0px;
  width: 99%; /*宽度是必要，如果没有宽度就无法撑出div*/
}